[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=ivan
Group=ivan
WorkingDirectory=/home/ivan/FirstReposit/
Environment="PYTHONPATH=/home/ivan/FirstReposit/"
ExecStart=/home/ivan/FirstReposit/.venv/bin/python /home/ivan/FirstReposit/kliker.py

[Install]
WantedBy=multi-user.target